<h1>Welcome</h1>
<div class="jumbotron">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Register to take CBT</p>
    <a href="users/register" class="btn btn-dark btn-lg">Register</a>
      <a href="users/login" class="btn btn-dark btn-lg">Login</a>
</div>