<div class="row">
    <div class="col-md-6 mx-auto">
<div class="card card-body">
    <form action="/questions/add" method="post">
        <div class="form-group">
            <label for="question">Question</label>
            <textarea type="text" class="form-control" name="question"></textarea>
        </div>

        <div class="form-group">
            <label for="details">Details</label>
            <textarea type="text" class="form-control" name="details"></textarea>
        </div>

        <div class="form-group">
            <label for="optionA">OptionA</label>
            <input type="text" class="form-control" name="optionA">
        </div>

        <div class="form-group">
            <label for="optionB">OptionB</label>
            <input type="text" class="form-control" name="optionB">
        </div>

        <div class="form-group">
            <label for="optionC">OptionC</label>
            <input type="text" class="form-control" name="optionC">
        </div>

        <div class="form-group">
            <label for="optionD">OptionD</label>
            <input type="text" class="form-control" name="optionD">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
</div>